/* create-array.css */

h3 {
    font-family: Lora;
  }

.input {
    font-family:  "Muli";
}

.small{
    font-family:  "Muli";
}
body {
    background-color: white;
  }
.p
{
    color: black;
    font-family:  "Krona One";
}

small
{
    color: black;
}


